{% extends 'base.html' %}

{% block page_title %}Edificios{% endblock %}

{% block content %}
<div class="row">
	<div class="col-xs-12">
      	<div class="card">
        	<div class="card-header">Añadir edificio</div>
        	<div class="card-body">   
        		{% load widget_tweaks %}
        		<form id="form" class="form form-horizontal" action="" method="POST" enctype="multipart/form-data" novalidate>
        			{% csrf_token %}
				   	<div class="form-group {% if form.name.errors %} has-error {% endif %}">
				        <label class="col-md-3 control-label" for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
				        <div class="col-md-9">
					        {{ form.name|add_class:"form-control"|attr:"autofocus" }}
					        {% for error in form.name.errors %}
							<span class="help-block">{{ error }}</span>
							{% endfor %}					    
				        </div>
				    </div>

				    <div class="form-group {% if form.address.errors %} has-error {% endif %}">
				        <label class="col-md-3 control-label" for="{{ form.address.id_for_label }}">{{ form.address.label }}</label>
				        <div class="col-md-9">
					        {{ form.address|add_class:"form-control" }}
					        {% for error in form.address.errors %}
							<span class="help-block">{{ error }}</span>
							{% endfor %}					    
				        </div>
				    </div>					
				</form>
				<form id="delete" action="/building/{{ building.id }}/delete/" method="POST">{% csrf_token %}</form>
				<div class="form form-horizontal">
					<div class="form-footer">
					    <div class="form-group">
					      <div class="col-md-9">
					        <button type="submit" form="form" class="btn btn-primary">
					        	<span class="fa fa-floppy-o"></span>
					        	Guardar
					        </button>		
					        {% if object %}
					        <button type="submit" form="delete" class="btn btn-danger">
					        	<span class="fa fa-trash"></span>
					        	Eliminar
					        </button>
					        {% endif %}			        
					        <a href="/building/" class="btn btn-default">
					        	<span class="fa fa-reply"></span>
					        	Regresar
					        </a>
					      </div>
					    </div>
					</div>
				</div>
        	</div>
        </div>
    </div>
</div>
{% endblock %}
