{% extends 'base.html' %}

{% block page_title %}Edificios{% endblock %}

{% block content %}
<div class="row">
	<div class="col-xs-12">
      	<div class="card">
        	<div class="card-header">Listado</div>
        	<div class="card-body">
        		{% include "partials/pagination.html" %}
			    <table class="table">
				    <thead>
				        <tr>				          
				          <th>Nombre</th>
				          <th>Dirección</th>				          
				          <th>Acciones</th>
				        </tr>
				    </thead>
				    <tbody>
				    	{% for building in object_list %}
				        <tr>					        
					        <td>{{ building.name }}</td>
					        <td>{{ building.address }}</td>					        
					        <td class="col-xs-3">					        	
					        	<a href="/building/{{ building.id }}/edit/" class="btn btn-default btn-xs">
					        		<span class="fa fa-pencil"></span>
					        	</a>
					        	<button class="btn btn-default btn-xs delete" data-model="building" data-id="{{ building.id }}">
					        		<span class="fa fa-trash"></span>
					        	</button>
					        </td>
				        </tr>
				        {% empty %}
				        <tr colspan="2">
				        	<td>"Sin registros."</td>
				        </tr>
				        {% endfor %}
				    </tbody>
			    </table>
        	</div>
        </div>
    </div>
</div>

{% include "partials/delete-modal.html" %}

<div class="btn-floating" id="help-actions">
	<div class="btn-bg"></div>
	<a href="/building/add/" class="btn btn-default btn-toggle">
		<i class="icon fa fa-plus"></i>
	</a>        
</div>
{% endblock %}

{% block customjs %}
{% load staticfiles %}
<script src="{% static 'stocktaking/custom.js' %}"></script>
{% endblock %}