<div class="modal fade in" id="equipment-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Seleccionar equipos</h4>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control" placeholder="Búsqueda">
                <div class="list-group equipments">
                  <a href="#" class="list-group-item hide">
                    <span class="badge"><span class="fa fa-check"></span></span> 
                    <span class="text">Cras justo odio</span>
                  </a>                  
                </div>
            </div>            
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cancelar</button>
                <button type="submit" form="delete" class="btn btn-sm btn-danger">Eliminar</button>
            </div>
        </div>
    </div>    
</div>