{% load widget_tweaks %}
{{ formset.management_form }}
{% for form in formset %}
	<div class="panel panel-default">
		<div class="panel-heading">
		    <h3 class="panel-title">{{ form.title.label }}</h3>
		    <!-- <a class="btn btn-danger btn-xs pull-right close-formset" style="margin-top:-25px;">
		    	<span class="fa fa-close"></span>
		    </a> -->
		</div>
		<div class="panel-body">
		{{ form.id }}								
    	{% for field in form %}
    		{% if field.value == 'separator' %}					    		
		    <div class="section">
    			<span class="section-title">{{ field.label }}</span>
    			{{ field|attr:"type:hidden"|attr:"value:separator" }}
    		</div>							    
		    {% elif field.name != 'title' and field.name != 'id' %}
    		<div class="form-group {% if field.errors %} has-error {% endif %}">
		        <label class="col-md-3 control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
		        <div class="col-md-9">							        	
		        {% if field|widget_type == 'radioselect' %}
		        	{% for radio in field %}
			        <div class="radio radio-inline">
			            {{ radio.tag }}
			            <label for="{{ radio.id_for_label }}">
			            	{{ radio.choice_label }}
			            </label>
			        </div>
			        {% endfor %}
		        {% elif field|widget_type == 'checkboxinput' %}
		        	<div class="checkbox">
					    {{ field }}
					    <label for="{{ field.id_for_label }}"></label>
					</div>
		        {% else %}							        	
		        	{{ field }}
		        {% endif %}

			    {% for error in field.errors %}
					<span class="help-block">{{ error }}</span>
				{% endfor %}					    
		        </div>
		    </div>
		    {% endif %}							    
		{% endfor %}							    
		</div>
	</div>	
{% endfor %}