{% load static %}
<!-- SIDEBAR -->
<div class="sidebar">
	<div class="brand">
		<a href="index.html"><img src="{% static 'new/img/logo.png' %}" alt="Klorofil Logo" class="img-responsive logo"></a>
	</div>
	<div class="sidebar-scroll">
		<nav>
			<ul class="nav">
				<li><a href="#" class=""><i class="lnr lnr-home"></i><span>Inicio</span></a></li>
				<li><a href="{% url 'model_list' %}" class=""><i class="lnr lnr-code"></i> <span>Modelos</span></a></li>				
				<li>
					<a href="#subEquipments" data-toggle="collapse" class="collapsed">
						<i class="lnr lnr-laptop"></i> <span>Equipos</span> 
						<i class="icon-submenu lnr lnr-chevron-left"></i>
					</a>
					<div id="subEquipments" class="collapse ">
						<ul class="nav">
							<li><a href="{% url 'equipment_list' %}" class="">Todos</a></li>
							<li><a href="#" class="">CPU</a></li>
							<li><a href="#" class="">Impresora</a></li>							
						</ul>
					</div>
				</li>
				<li><a href="{% url 'location_list' %}" class=""><i class="lnr lnr-user"></i> <span>Asignaciones</span></a></li>
				<li>
					<a href="#subPurchases" data-toggle="collapse" class="collapsed">
						<i class="lnr lnr-cart"></i> <span>Compras</span> 
						<i class="icon-submenu lnr lnr-chevron-left"></i>
					</a>
					<div id="subPurchases" class="collapse ">
						<ul class="nav">
							<li><a href="{% url 'invoice_list' %}" class="">Facturas</a></li>
							<li><a href="{% url 'provider_list' %}" class="">Proveedores</a></li>
						</ul>
					</div>
				</li>
				<li>
					<a href="#subMaintenance" data-toggle="collapse" class="collapsed">
						<i class="lnr lnr-bug"></i> <span>Mantenimiento</span> 
						<i class="icon-submenu lnr lnr-chevron-left"></i>
					</a>
					<div id="subMaintenance" class="collapse ">
						<ul class="nav">
							<li><a href="{% url 'ticket_list' %}" class="">Tickets</a></li>
						</ul>
					</div>
				</li>				
			</ul>
		</nav>
	</div>	
</div>
<!-- END SIDEBAR -->