{% load static %}
<!-- SIDEBAR -->
<div class="sidebar">
	<div class="brand">
		<a href="index.html"><img src="{% static 'new/img/logo.png' %}" alt="Klorofil Logo" class="img-responsive logo"></a>
	</div>
	<div class="sidebar-scroll">
		<nav>
			<ul class="nav">
				<li><a href="{% url 'home' %}" class=""><i class="lnr lnr-home"></i><span>Inicio</span></a></li>
				<li><a href="{% url 'model_list' %}" class=""><i class="lnr lnr-code"></i> <span>Modelos</span></a></li>				
				<li><a href="{% url 'equipment_list' %}" class=""><i class="lnr lnr-laptop"></i> <span>Equipos</span></a></li>
				<li>
					<a href="#subReplacements" data-toggle="collapse" class="collapsed">
						<i class="lnr lnr-dice"></i> <span>Repuestos</span> 
						<i class="icon-submenu lnr lnr-chevron-left"></i>
					</a>
					<div id="subReplacements" class="collapse ">
						<ul class="nav">
							<li><a href="{% url 'replacement_list' %}" class="">Listado</a></li>
							<li><a href="{% url 'replacement_stock' %}" class="">Stock</a></li>
						</ul>
					</div>
				</li>
				<li>
					<a href="#subConsumables" data-toggle="collapse" class="collapsed">
						<i class="lnr lnr-drop"></i> <span>Consumibles</span> 
						<i class="icon-submenu lnr lnr-chevron-left"></i>
					</a>
					<div id="subConsumables" class="collapse ">
						<ul class="nav">
							<li><a href="{% url 'consumable_list' %}" class="">Listado</a></li>
							<li><a href="{% url 'consumable_stock' %}" class="">Stock</a></li>
							<li><a href="{% url 'dispatch_list' %}" class="">Despachos</a></li>
						</ul>
					</div>
				</li>				
				<li><a href="{% url 'location_list' %}" class=""><i class="lnr lnr-user"></i> <span>Asignaciones</span></a></li>
				<li>
					<a href="#subPurchases" data-toggle="collapse" class="collapsed">
						<i class="lnr lnr-cart"></i> <span>Compras</span> 
						<i class="icon-submenu lnr lnr-chevron-left"></i>
					</a>
					<div id="subPurchases" class="collapse ">
						<ul class="nav">
							<li><a href="{% url 'invoice_list' %}" class="">Facturas</a></li>
							<li><a href="{% url 'provider_list' %}" class="">Proveedores</a></li>
						</ul>
					</div>
				</li>
				<li>
					<a href="#subMaintenance" data-toggle="collapse" class="collapsed">
						<i class="lnr lnr-bug"></i> <span>Mantenimiento</span> 
						<i class="icon-submenu lnr lnr-chevron-left"></i>
					</a>
					<div id="subMaintenance" class="collapse ">
						<ul class="nav">
							<li><a href="{% url 'ticket_list' %}" class="">Tickets</a></li>
							<li><a href="{% url 'ticket_user_list' %}" class="">Mis tickets</a></li>
						</ul>
					</div>
				</li>				
				<li><a href="{% url 'reporting_home' %}" class=""><i class="lnr lnr-file-empty"></i> <span>Reportes</span></a></li>
			</ul>
		</nav>
	</div>	
</div>
<!-- END SIDEBAR -->