{% extends "base.html" %}

{% block title %}Modelos | Siscon{% endblock %}

{% block content %}
	<section class="section">
		<button class="btn btn-success col-xs-12">
			<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
			Nuevo
		</button>

		<table class="table table-striped">
			<thead>
				<tr>
					<th>Tipo</th>
					<th>Marca</th>
					<th>Nombre</th>					
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody id="objectList">							
				{% for model in object_list %}
				<tr>
					<td class="col-xs-3">{{ model.type }}</td>
					<td class="col-xs-3">{{ model.trademark }}</td>
					<td class="col-xs-4">{{ model.name }}</td>
					<td id="{{ model.id }}" class="col-xs-2">
						<button class="btn btn-sm btn-default">
							<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
						</button>
						<button class="btn btn-sm btn-default">
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						</button>
					</td>
				</tr>
				{% empty %}
				<tr>
					<td colspan="4">'No existen registros'</td>
				</tr>							
				{% endfor %}
			</tbody>
		</table>
	</section>	
{% endblock %}

{% block modal_content %}
	<ul class="nav nav-tabs" role="tablist">
	    <li role="presentation" class="active">
	    	<a href="#general" aria-controls="general" role="tab" data-toggle="tab">Datos generales</a>
	    </li>
	    <li role="presentation">
	    	<a href="#specifications" aria-controls="specifications" role="tab" data-toggle="tab">Especificaciones</a>
	    </li>
	</ul>
	  
	<div class="tab-content">						    
	    <div role="tabpanel" class="tab-pane active" id="general">
	    	<div class="form-horizontal">
	    		<div class="form-group">
				    <label for="selType" class="col-md-2 control-label">Tipo</label>
				    <div class="col-md-10">
				        <select id="selType" class="form-control selectpicker" data-size="10" data-live-search="true">
				        	<option value="">--- Seleccionar ---</option>
				        	{% for type in types %}
				        	<option value="{{ type.id }}">{{ type.name }}</option>
				        	{% endfor %}
				        </select>
				    </div>
				</div>
				<div class="form-group">
				    <label for="selTrademark" class="col-md-2 control-label">Marca</label>
				    <div class="col-md-10">
				        <select id="selTrademark" class="form-control selectpicker" data-size="10" data-live-search="true">
				        	<option value="">--- Seleccionar ---</option>
				        	{% for trademark in trademarks %}
				        	<option value="{{ trademark.id }}">{{ trademark.name }}</option>
				        	{% endfor %}
				        </select>
				    </div>
				</div>
				<div class="form-group">
				    <label for="txtName" class="col-md-2 control-label">Nombre</label>
				    <div class="col-md-10">
				        <input id="txtName" type="text" class="form-control" placeholder="Nombre del tipo de dispositivo">
				    </div>
				</div>																	
	    	</div>
	    </div>
	    <div role="tabpanel" class="tab-pane" id="specifications">
	    	<div id="form-specifications" class="form-horizontal">
	    						
	    	</div>
	    	<div id="form-suboptions" class="form-horizontal">
	    						
	    	</div>
	    </div>	    
	</div>
{% endblock %}

{% block imports%}
	{% load staticfiles %}
	<script src="{% static 'libs/js/capitalize.js' %}"></script>
	<script src="{% static 'equipment/js/models.js' %}"></script>
{% endblock%}
