<h3><i class="fa fa-angle-right"></i> Modelos</h3>
<div ng-hide="model" class="row mt">
  <div class="col-lg-12">
    <div class="content-panel">
      <div class="content-panel-header">
        <h4>
          <i class="fa fa-angle-right"></i>
          Listado
        </h4>
        <a ng-click="edit()" class="btn btn-sm btn-primary pull-right col-xs-2">
          <i class="fa fa-plus-circle"></i> Agregar
        </a>
      </div>
      <table datatable="ng" class="table table-striped">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Marca</th>
            <th>Parte</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="model in models">
            <td name="name" class="col-xs-4">{{ model.name }}</td>
            <td name="type" class="col-xs-2">{{ model.type }}</td>
            <td name="brand" class="col-xs-2">{{ model.brand }}</td>
            <td name="part_number" class="col-xs-2">{{ model.part_number }}</td>
            <td name="actions" id="{{ model.id }}" class="col-xs-2">
              <button ng-click="edit(model)" class="btn btn-xs btn-default">
                <span class="fa fa-pencil"></span>
              </button>
              <button ng-click="remove(model)" class="btn btn-xs btn-default">
                <span class="fa fa-remove"></span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div ng-show="model" class="row mt">
  <div class="col-lg-12">
    <div class="content-panel">
      <div class="content-panel-header">
        <h4>
          <i class="fa fa-angle-right"></i>
          Datos de modelo
        </h4>
      </div>
      <form name="form" novalidate>
        <div class="form-group" ng-class="{'has-error': (form.$submitted || form.type.$touched) && form.type.$invalid}">
          <label for="type">Tipo</label>
          <select id="type" name="type" ng-model="model.type" class="form-control" ng-options="type.id as type.name for type in types"
           ng-change="changeSpecifications()" required>
            <option value="">--- Seleccionar ---</option>
          </select>
          <span ng-if="(form.$submitted || form.type.$touched) && form.type.$invalid" class="help-block">El tipo es requerido</span>
        </div>
        <div class="form-group" ng-class="{'has-error': (form.$submitted || form.brand.$touched) && form.brand.$invalid}">
          <label for="brand">Marca</label>
          <select id="brand" name="brand" ng-model="model.brand" class="form-control" ng-options="brand.id as brand.name for brand in brands" required>
            <option value="">-- Seleccionar --</option>
          </select>
          <span ng-if="(form.$submitted || form.brand.$touched) && form.brand.$invalid" class="help-block">La marca es requerida</span>
        </div>
        <div class="form-group" ng-class="{'has-error': (form.$submitted || form.name.$touched) && form.name.$invalid}">
          <label for="name">Nombre</label>
          <input id="name" name="name" ng-model="model.name" type="text" class="form-control" placeholder="Nombre del modelo" required>
          <span ng-if="(form.$submitted || form.name.$touched) && form.name.$invalid" class="help-block">El nombre es requerido</span>
        </div>
        <div class="form-group">
          <label for="part_number">Número de parte</label>
          <input id="part_number" name="part" ng-model="model.part_number" type="text" class="form-control" placeholder="Número de parte del modelo">
        </div>
      </form>

      <div ng-show="modelSpecifications.length" class="content-panel-header">
        <h4>
          <i class="fa fa-angle-right"></i>
          Especificaciones de modelo
        </h4>
      </div>

      <form name="formInline" novalidate>
        <ng-form name="formSpecification" ng-repeat="ms in modelSpecifications" novalidate>
          <div class="form-group" ng-class="{'has-error':(formInline.$submitted || formSpecification.name.$touched) && formSpecification.name.$invalid}">
              <label for="name{{$index}}">{{ ms.label }}</label>
              <input id="name{{$index}}" name="name" type="text" ng-if="ms.type=='text'"
              ng-model="model.specifications[ms.label]" class="form-control" placeholder="{{ ms.label }} del modelo" required>
              <select name="name" ng-if="ms.type=='select' && ms.options" ng-model="model.specifications[ms.label]"
              ng-options="value for value in ms.options" class="form-control" required>
                <option value="">-- Seleccionar --</option>
              </select>
              <select name="name" ng-if="ms.type=='select' && ms.actions" ng-model="model.specifications[ms.label]"
              ng-options="action.name as action.name for action in ms.actions"
              ng-change="changeOptions(ms.label, model.specifications[ms.label])" class="form-control" required>
                <option value="">-- Seleccionar --</option>
              </select>
              <span ng-if="(formInline.$submitted || formSpecification.name.$touched) && formSpecification.name.$invalid" class="help-block">Este campo es requerido</span>
          </div>
        </ng-form>


        <ng-form name="formOption" ng-repeat="mo in modelOptions" novalidate>
          <div class="form-group" ng-class="{'has-error':(formInline.$submitted || formOption.option.$touched) && formOption.option.$invalid}">
            <label for="option{{$index}}">{{ mo }}</label>
            <input id="option{{$index}}" name="option" type="text" ng-model="model.specifications[mo]" class="form-control" placeholder="Ingrese el {{ mo | lowercase}}" required>
            <span ng-if="(formInline.$submitted || formOption.option.$touched) && formOption.option.$invalid" class="help-block">Este campo es requerido</span>
          </div>
        </ng-form>
      </form>


      <button type="submit" form="form" ng-hide="model.id" ng-click="create()" class="btn btn-primary">
        <i class="fa fa-check"></i> Guardar
      </button>
      <button ng-show="model.id" ng-click="update()" class="btn btn-primary">
        <i class="fa fa-check"></i> Guardar
      </button>
      <button ng-show="model.id" ng-click="delete()" class="btn btn-danger">
        <i class="fa fa-trash"></i> Eliminar
      </button>
      <button ng-click="reset()" type="button" class="btn btn-link">Regresar</button>
    </div>
  </div>
</div>

<div ng-include="'static/partials/modal-delete.html'"></div>
