{% extends 'base/base_form.html' %}
{% load components %}

{% block extra_fields %}
<div class="table-responsive">				    	
    <table class="table table-striped table-bordered">
	    <thead>
	        <tr>
		        <th>Modelo</th>
		        <th>Cantidad</th>
		        <th>Precio Unitario</th>
		        <th>Descuento</th>
		        <th>Iva</th>
		        <th>Subtotal</th>					          
		        <th>Eliminar?</th>
	        </tr>
	    </thead>
	    <tbody>
	    {{ formset.management_form }}
    	{% for form in formset %}
    		{{ form.id }}
	        <tr class="inline {{ formset.prefix }}">
		        <td class="col-xs-3">{{ form.model|add_class:"form-control" }}{{ form.model.errors }}</td>
		        <td>{{ form.quantity|add_class:"form-control" }}{{ form.quantity.errors }}</td>
		        <td>{{ form.unit_price|add_class:"form-control" }}{{ form.unit_price.errors }}</td>
		        <td>{{ form.discount|add_class:"form-control" }}{{ form.discount.errors }}</td>
		        <td >{{ form.iva_percent|add_class:"form-control" }}{{ form.iva_percent.errors }}</td>
		        <td>{{ form.total_price|add_class:"form-control"|attr:"readOnly" }}{{ form.total_price.errors }}</td>
		        <td class="col-xs-1">{{ form.DELETE }}</td>
	        </tr>
	    {% endfor %}					    	
	    </tbody>
	</table>				    	
</div>
{% if object %}
<div class="table-responsive">				    	
    <table class="table table-striped table-bordered">						    
	    <tbody>						    
	        <tr>							        
		        <td><strong>Base imponible:</strong> ${{ object.untaxed_amount }}</td>
		        <td><strong>Total descuento:</strong> ${{ object.total_discount }}</td>
		        <td><strong>Impuestos:</strong> ${{ object.tax_amount }}</td>
		        <td><strong>Monto total:</strong> ${{ object.total_amount }}</td>
	        </tr>						    
	    </tbody>
	</table>				    	
</div>
{% endif %}
{% endblock %}

{% block js %}
{% load static %}
<script src="{% static 'plugins/jquery.formset.js' %}"></script>    

<script type="text/javascript">    
	var asFloat = function (value) {
		var val = parseFloat(value).toFixed(2);
		if (val == NaN) return undefined;
		return val;
	}

	var getRowValues = function (row) {
		var quantity = $(row).find('input[name*=quantity]').val();
		var unit_price = $(row).find('input[name*=unit_price]').val();
		var discount = $(row).find('input[name*=discount]').val();
		var iva_percent = $(row).find('input[name*=iva_percent]').val();
		var total_price = $(row).find('input[name*=total_price]').val();

		return {
			quantity: asFloat(quantity),
			unit_price: asFloat(unit_price),
			discount: asFloat(discount),
			iva_percent: asFloat(iva_percent),
			total_price: asFloat(total_price),
		}
	}

	var calculateSubtotal = function (row) {    		
		var values = getRowValues(row);
		var subtotal = 0.0;
		if (values.quantity && values.unit_price) subtotal=values.quantity * values.unit_price
		if (values.discount) subtotal-=values.discount
		$(row).find('input[name*=total_price]').val(subtotal.toFixed(2));    		
	}

	var addRowListener = function (row) {
		$(row).find('input[name*=discount]').val(0)
		$(row).find('input[name*=iva_percent]').val(12)

		$(row).find('input[name*=quantity]').on('keyup', function () {
			calculateSubtotal(row);
		});

		$(row).find('input[name*=unit_price]').on('keyup', function () {
			calculateSubtotal(row);
		});

		$(row).find('input[name*=discount]').on('keyup', function () {
			calculateSubtotal(row);
		});
	} 

	var init = function () {
		$('tbody > tr.inline').each(function (index, row) {
			addRowListener(row);
		});
	}

	(function () {
    	init();		
	});

   
</script>
<script type="text/javascript">
    $(function() {
        $(".inline.{{ formset.prefix }}").formset({
            prefix: "{{ formset.prefix }}",
            addText: '<span class="fa fa-plus"></span> Agregar linea',
            deleteCssClass: 'btn btn-danger btn-xs',
            deleteText: '<span class="fa fa-close"></span>',
            added: function ($row) {
            	//$row.find('.select2-container').remove();
            	//$row.find('select').select2();
            	addRowListener($row);
            } 
        });        
    })
</script>
{% endblock %}