{% extends 'base/base_list.html' %}	

{% block title %}Lista de facturas{% endblock %}
{% block button %}
<a href="{% url 'invoice_create' %}" class="btn btn-primary"><i class="fa fa-plus"></i> Agregar</a>
{% endblock %}
{% block table %}
<table class="table">
    <thead>
        <tr>                  
            <th>Proveedor</th>
            <th>Factura #</th>
            <th>Fecha</th>
            <th>Total</th>
            <th>Estado</th>          
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for invoice in object_list %}
        <tr>                  
            <td>{{ invoice.provider.name }}</td>
            <td>{{ invoice.number }}</td>
            <td>{{ invoice.date }}</td>
            <td>{{ invoice.total_amount }}</td>
            <td>{{ invoice.get_status }}</td>          
            <td class="col-xs-2">
                <a href="{% url 'invoice_update' invoice.id %}" class="btn btn-default btn-xs">
                    <span class="fa fa-pencil"></span>
                </a>
                <a href="{% url 'invoice_equipments' invoice.id %}" class="btn btn-default btn-xs">
                    <span class="fa fa-laptop"></span>
                </a>
            </td>
        </tr>
        {% empty %}
        <tr colspan="2"><td>"Sin registros."</td></tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}