{% extends 'base/base_list.html' %}	

{% block title %}Lista de proveedores{% endblock %}
{% block button %}
<a href="{% url 'provider_create' %}" class="btn btn-primary"><i class="fa fa-plus"></i> Agregar</a>
{% endblock %}
{% block table %}
<table class="table">
    <thead>
        <tr>				          
          <th>Ruc</th>
          <th>Nombre</th>
          <th>Ciudad</th>
          <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    	{% for provider in object_list %}
        <tr>					        
	        <td>{{ provider.ruc }}</td>
	        <td>{{ provider.name }}</td>
	        <td>{{ provider.city }}</td>
	        <td class="col-xs-2">					        	
	        	<a href="{% url 'provider_update' provider.id %}" class="btn btn-default btn-xs">
	        		<span class="fa fa-pencil"></span>
	        	</a>
	        </td>
        </tr>
        {% empty %}
        <tr colspan="2"><td>"Sin registros."</td></tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}