{% extends 'base.html' %}

{% block page_title %}Arreglos{% endblock %}

{% block content %}
<div class="row">
	<div class="col-xs-12">
      	<div class="card">
        	<div class="card-header">Añadir arreglo</div>
        	<div class="card-body">
        		{% load widget_tweaks %}
        		<form id="form" class="form form-horizontal" action="" method="POST" novalidate>
        			{% csrf_token %}
				    <div class="form-group {% if form.equipment.errors %} has-error {% endif %}">
				        <label class="col-md-3 control-label" for="{{ form.equipment.id_for_label }}">{{ form.equipment.label }}</label>
				        <div class="col-md-9">
					        {{ form.equipment|add_class:"select2" }}
					        {% for error in form.equipment.errors %}
							<span class="help-block">{{ error }}</span>
							{% endfor %}					    
				        </div>
				    </div>
				    <div class="form-group {% if form.problem.errors %} has-error {% endif %}">
				        <label class="col-md-3 control-label" for="{{ form.problem.id_for_label }}">{{ form.problem.label }}</label>
				        <div class="col-md-9">
					        {{ form.problem|add_class:"form-control" }}
					        {% for error in form.problem.errors %}
							<span class="help-block">{{ error }}</span>
							{% endfor %}					    
				        </div>
				    </div>	
				    <div class="form-group {% if form.solution.errors %} has-error {% endif %}">
				        <label class="col-md-3 control-label" for="{{ form.solution.id_for_label }}">{{ form.solution.label }}</label>
				        <div class="col-md-9">
					        {{ form.solution|add_class:"form-control" }}
					        {% for error in form.solution.errors %}
							<span class="help-block">{{ error }}</span>
							{% endfor %}					    
				        </div>
				    </div>			
				    <div class="form-group {% if form.observation.errors %} has-error {% endif %}">
				        <label class="col-md-3 control-label" for="{{ form.observation.id_for_label }}">{{ form.observation.label }}</label>
				        <div class="col-md-9">
					        {{ form.observation|add_class:"form-control" }}
					        {% for error in form.observation.errors %}
							<span class="help-block">{{ error }}</span>
							{% endfor %}					    
				        </div>
				    </div>
				</form>

				<form id="delete" action="/brand/{{ brand.id }}/delete/" method="POST">{% csrf_token %}</form>
				<div class="form form-horizontal">
					<div class="form-footer">
					    <div class="form-group">
					      <div class="col-md-9">
					        <button type="submit" form="form" class="btn btn-primary">
					        	<span class="fa fa-floppy-o"></span>
					        	Guardar
					        </button>		
					        {% if object %}
					        <button type="submit" form="delete" class="btn btn-danger">
					        	<span class="fa fa-trash"></span>
					        	Eliminar
					        </button>
					        {% endif %}			        
					        <a href="/brand/" class="btn btn-default">
					        	<span class="fa fa-reply"></span>
					        	Regresar
					        </a>
					      </div>
					    </div>
					</div>
				</div>
        	</div>
        </div>
    </div>
</div>

<div class="modal fade in" id="replacement-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Seleccionar</h4>
      </div>
      <div class="modal-body">
      	<div class="row">
      		<div class="col-sm-6">
		        <div class="list-group">
		        	<div class="list-group-item-extended">
				      	<a href="#" class="list-group-item">
				        	<span class="badge">14</span> Cras justo odio
				      	</a>
				      	<span>0</span>
		        	</div>


				</div>      			
      		</div>      		
      	</div>
      </div>
      <form id="delete" method="POST">{% csrf_token %}</form>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cancelar</button>
        <button type="submit" form="delete" class="btn btn-sm btn-primary">Aceptar</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}