{% extends 'base.html' %}

{% block page_title %}Asignaciones{% endblock %}

{% block content %}
<div class="row">
	<div class="col-xs-12">
      	<div class="card">
        	<div class="card-header">ASIGNAR {{ equipment.model.type }}  {{ equipment.model }}</div>
        	<div class="card-body">
        		{% if formset.errors %}
        		<div class="alert alert-danger alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<strong>Error!</strong> Hay algunos errores que resolver.
				</div>
        		{% endif %}

        		{% load widget_tweaks %}
        		{{ form.errors }}
        		<form id="form" class="form form-horizontal" action="" method="POST" enctype="multipart/form-data" novalidate>
        			{% csrf_token %}        			
        			<div class="form-group {% if form.employee.errors %} has-error {% endif %}">
				        <label class="col-md-3 control-label" for="{{ form.employee.id_for_label }}">{{ form.employee.label }}</label>
				        <div class="col-md-9">							        	
				        {{ form.employee|add_class:"select2" }}
					    {% for error in form.employee.errors %}
							<span class="help-block">{{ error }}</span>
						{% endfor %}					    
				        </div>
				    </div>


				    <div class="form-group {% if form.area.errors %} has-error {% endif %}">
				        <label class="col-md-3 control-label" for="{{ form.area.id_for_label }}">{{ form.area.label }}</label>
				        <div class="col-md-9">							        	
				        {{ form.area|add_class:"select2" }}
					    {% for error in form.area.errors %}
							<span class="help-block">{{ error }}</span>
						{% endfor %}					    
				        </div>
				    </div>


				    <div class="form-group {% if form.building.errors %} has-error {% endif %}">
				        <label class="col-md-3 control-label" for="{{ form.building.id_for_label }}">{{ form.building.label }}</label>
				        <div class="col-md-9">							        	
				        {{ form.building|add_class:"select2" }}
					    {% for error in form.building.errors %}
							<span class="help-block">{{ error }}</span>
						{% endfor %}					    
				        </div>
				    </div>
				    <input type="hidden" name="department">
				    <input type="hidden" name="section">
				    <input type="hidden" name="equipment" value="{{ equipment.id }}">
				</form>

				<form id="delete" action="/equipment/{{ equipment.id }}/delete/" method="POST">{% csrf_token %}</form>
				<div class="form form-horizontal">
					<div class="form-footer">
					    <div class="form-group">
					      <div class="col-md-9">
					        <button type="submit" form="form" class="btn btn-primary">
					        	<span class="fa fa-floppy-o"></span>
					        	Guardar
					        </button>		
					        {% if object %}
					        <button type="submit" form="delete" class="btn btn-danger">
					        	<span class="fa fa-trash"></span>
					        	Eliminar
					        </button>
					        {% endif %}			        
					        <a href="/equipment/" class="btn btn-default">
					        	<span class="fa fa-reply"></span>
					        	Regresar
					        </a>
					      </div>
					    </div>
					</div>
				</div>
        	</div>
        </div>
    </div>
</div>
{% endblock %}
{% block customjs %}
	{% load staticfiles %}
	<script src="{% static 'stocktaking/custom.js' %}"></script>
{% endblock %}
