{% extends 'base/base_form.html' %}
{% load components %}

{% block errors %}
{{ form.errors }}
{{ formset.non_form_errors }}
{% endblock %}

{% block visible_fields %}
{% render_field form.employee class="form-control" %}
{% render_field form.selector class="form-control" %}
<div id="table"></div>
{% endblock %}

{% block extra_fields %}
{% render_field form.observation class="form-control" %}
<input type="hidden" name="form-TOTAL_FORMS" value="0" id="id_form-TOTAL_FORMS">
<input type="hidden" name="form-INITIAL_FORMS" value="0" id="id_form-INITIAL_FORMS">
<input type="hidden" name="form-MIN_NUM_FORMS" value="0" id="id_form-MIN_NUM_FORMS">
<input type="hidden" name="form-MAX_NUM_FORMS" value="1000" id="id_form-MAX_NUM_FORMS">
{% endblock %}

{% block js %}
<script type="text/javascript">	
	document.getElementById('id_selector').addEventListener('change', function () {
		$.get('/stocktaking/get_component/'+ this.value + '/', function (data){
			document.getElementById('table').insertAdjacentHTML('afterbegin', data['table']);
			var table = document.querySelector('.table-responsive');
			table.querySelector('a').addEventListener('click', function (e) {
				e.preventDefault();
				table.remove();
			});
		});
	});

	var set_identifiers = function (elem, index) {
		if (!elem) return;
		var prefix = 'form-';
		var name =  prefix + index + '-' + elem.getAttribute('name');
		var id = 'id_' + name;
		elem.setAttribute('name', name);
		elem.setAttribute('id', id);
		set_identifiers(elem.nextElementSibling, index)
	}

	document.querySelector('#form').addEventListener('submit', function (e) {
		e.preventDefault();
		var values = document.querySelectorAll('[name="quantity"]');
		var inputs = document.querySelectorAll('[name="equipment"]');		
		inputs.forEach(set_identifiers);
		document.getElementById('id_form-TOTAL_FORMS').value = inputs.length
		this.submit();
	});

</script>
{% endblock %}