{% extends 'base/base_list.html' %}	

{% block title %}Lista de equipos{% endblock %}
{% block button %}
<a href="{% url 'select_type' 'equipment' %}" class="btn btn-primary"><i class="fa fa-plus"></i> Agregar</a>
<div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Filtar por <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="#">Todos</a></li>
        {% for type in types %}
        <li><a href="?type={{ type.id }}">{{ type.name }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
{% block table %}
<table class="table">
  <thead>
      <tr>                  
        <th>Tipo</th>
        <th>Nombre</th>
        <th>Código</th>
        <th>Serie</th>
        <th>Departamento</th>
        <th>Responsable</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
  </thead>
  <tbody>             
    {% for equipment in object_list %}
      <tr>                  
        <td>{{ equipment.model.type }}</td>                
        <td>{{ equipment.model }}</td>
        <td>{{ equipment.code }}</td>
        <td>{{ equipment.serial }}</td>
        <td>{{ equipment.get_department }}</td>
        <td>{{ equipment.get_responsible }}</td>
        <td>{{ equipment.get_state }}</td>
        <td class="col-xs-3">
          <a href="/assignment/add/equipment/{{ equipment.id }}/" class="btn btn-default btn-xs">
            <span class="fa fa-user"></span>
          </a>                  
          <a href="{% url 'equipment_update_by_type' equipment.id equipment.model.type.id %}" class="btn btn-default btn-xs">
            <span class="fa fa-pencil"></span>
          </a>
          <button class="btn btn-default btn-xs delete" data-model="equipment" data-id="{{ equipment.id }}">
            <span class="fa fa-trash"></span>
          </button>
        </td>
      </tr>
      {% empty %}
      <tr colspan="5"><td>"Sin registros."</td></tr>
      {% endfor %}
  </tbody>
</table>
{% endblock %}