{% extends 'base.html' %}

{% block page_title %}Equipos{% endblock %}

{% block content %}
<div class="row">
	<div class="col-xs-12">
      	<div class="card">
        	<div class="card-header">Añadir equipo</div>
        	<div class="card-body">
        		{% if formset.errors %}
        		<div class="alert alert-danger alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<strong>Error!</strong> Hay algunos errores que resolver.
				</div>
        		{% endif %}
        		<form id="form" class="form form-horizontal" action="" method="POST" enctype="multipart/form-data" novalidate>
        			{% csrf_token %}
        			{% ifequal formset|length 1 %}
        				{% include 'partials/equipment-single-form.html' %}
        			{% else %}
        				{% include 'partials/equipment-multiple-forms.html' %}
        			{% endifequal %}        			
				</form>
				<form id="delete" action="/equipment/{{ equipment.id }}/delete/" method="POST">{% csrf_token %}</form>
				<div class="form form-horizontal">
					<div class="form-footer">
					    <div class="form-group">
					      <div class="col-md-9">
					        <button type="submit" form="form" class="btn btn-primary">
					        	<span class="fa fa-floppy-o"></span>
					        	Guardar
					        </button>		
					        {% if object %}
					        <button type="submit" form="delete" class="btn btn-danger">
					        	<span class="fa fa-trash"></span>
					        	Eliminar
					        </button>
					        {% endif %}			        
					        <a href="/equipment/" class="btn btn-default">
					        	<span class="fa fa-reply"></span>
					        	Regresar
					        </a>
					      </div>
					    </div>
					</div>
				</div>
        	</div>
        </div>
    </div>
</div>
{% endblock %}
