{% extends 'base.html' %}

{% block page_title %}Equipos{% endblock %}

{% block content %}
<div class="row">
	<div class="col-xs-12">
      	<div class="card">
        	<div class="card-header">Listado</div>
        	<div class="card-body">
        		{% include "partials/pagination.html" %}
        		<div class="text-center">
					<a href="{% url 'equipment_list' %}" class="btn btn-success btn-xs">Equipos</a>
	        		<a href="{% url 'equipment_set_list' %}" class="btn btn-default btn-xs">Conjuntos</a>	        		      			
        		</div>
			    <table class="table">
				    <thead>
				        <tr>				          
				          <th>Tipo</th>
				          <th>Nombre</th>
				          <th>Código</th>				          
				          <th>Responsable</th>
				          <th>Acciones</th>
				        </tr>
				    </thead>
				    <tbody>
					    {% for set in object_list %}
				        <tr>					        
					        <td>CONJUNTO</td>					       
					        <td>{{ set.set.name }}</td>
					        <td>#CJT{{ set.id }}</td>					        
					        <td>{{ set.get_responsible }}</td>
					        <td class="col-xs-3">
					        	<a href="/assignment/add/set/{{ set.id }}/" class="btn btn-default btn-xs">
					        		<span class="fa fa-user"></span>
					        	</a>					        	
					        	<a href="/equipment/set/{{ set.id }}/edit/" class="btn btn-default btn-xs">
					        		<span class="fa fa-pencil"></span>
					        	</a>
					        	<button class="btn btn-default btn-xs delete" data-model="equipment" data-id="{{ equipment.id }}">
					        		<span class="fa fa-trash"></span>
					        	</button>
					        </td>
				        </tr>
				        {% empty %}
				        <tr colspan="5"><td>"Sin registros."</td></tr>
				        {% endfor %}
				    </tbody>
			    </table>
        	</div>
        </div>
    </div>
</div>

{% include "partials/delete-modal.html" %}

<div class="btn-floating" id="help-actions">
	<div class="btn-bg"></div>
	<a href="/equipment/add/select-type/" class="btn btn-default btn-toggle">
		<i class="icon fa fa-plus"></i>
	</a>        
</div>
{% endblock %}

{% block customjs %}
{% load staticfiles %}
<script src="{% static 'stocktaking/custom.js' %}"></script>
{% endblock %}