{% extends 'base/base_list.html' %}	
{% block button %}
<a href="{% url 'select_type' 'model' %}" class="btn btn-primary"><i class="fa fa-plus"></i> Agregar</a>
{% endblock %}
{% block table %}
<table class="table">
    <thead>
        <tr>				          
          <th>Tipo</th>
          <th>Marca</th>
          <th>Nombre</th>
          <th>#Parte</th>
          <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    	{% for model in object_list %}
        <tr>					        
	        <td>{{ model.type }}</td>
	        <td>{{ model.brand }}</td>
	        <td>{{ model.name }}</td>
	        <td>{% if model.part_number %} {{ model.part_number }} {% endif %}</td>
	        <td class="col-xs-3">					        	
	        	<a href="/model/{{ model.id }}/type/{{ model.type.id }}/edit/" class="btn btn-default btn-xs">
	        		<span class="fa fa-pencil"></span>
	        	</a>
	        	<button class="btn btn-default btn-xs delete" data-model="model" data-id="{{ model.id }}">
	        		<span class="fa fa-trash"></span>
	        	</button>
	        </td>
        </tr>
        {% empty %}
        <tr colspan="5"><td>"Sin registros."</td></tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}