{% extends 'base.html' %}

{% block page_title %}Repuestos{% endblock %}

{% block content %}
<div class="row">
	<div class="col-xs-12">
      	<div class="card">
        	<div class="card-header">Añadir repuesto</div>
        	<div class="card-body">
        		{% load widget_tweaks %}
        		<form id="form" class="form form-horizontal" action="" method="POST" novalidate>
        			{% csrf_token %}
				    <div class="form-group {% if form.model.errors %} has-error {% endif %}">
				        <label class="col-md-3 control-label" for="{{ form.model.id_for_label }}">{{ form.model.label }}</label>
				        <div class="col-md-9">
					        {{ form.model|add_class:"select2" }}
					        {% for error in form.model.errors %}
							<span class="help-block">{{ error }}</span>
							{% endfor %}					    
				        </div>
				    </div>					
				</form>
				<form id="delete" action="/brand/{{ brand.id }}/delete/" method="POST">{% csrf_token %}</form>
				<div class="form form-horizontal">
					<div class="form-footer">
					    <div class="form-group">
					      <div class="col-md-9">
					        <button type="submit" form="form" class="btn btn-primary">
					        	<span class="fa fa-floppy-o"></span>
					        	Guardar
					        </button>		
					        {% if object %}
					        <button type="submit" form="delete" class="btn btn-danger">
					        	<span class="fa fa-trash"></span>
					        	Eliminar
					        </button>
					        {% endif %}			        
					        <a href="/brand/" class="btn btn-default">
					        	<span class="fa fa-reply"></span>
					        	Regresar
					        </a>
					      </div>
					    </div>
					</div>
				</div>
        	</div>
        </div>
    </div>
</div>
{% endblock %}