{% extends 'base.html' %}

{% block page_title %}Repuestos{% endblock %}

{% block content %}
<div class="row">
	<div class="col-xs-12">
      	<div class="card">
        	<div class="card-header">Listado</div>
        	<div class="card-body">
        		{% include "partials/pagination.html" %}
        		<div class="text-center">
        			<a href="/replacement/" class="btn {% if not filter %} btn-success {% else %} btn-default {% endif %} btn-xs">Todo</a>
	        		<a href="?filter=2" class="btn {% if filter == '2' %} btn-success {% else %} btn-default {% endif %}t btn-xs">Repuestos</a>
	        		<a href="?filter=4" class="btn {% if filter == '4' %} btn-success {% else %} btn-default {% endif %} btn-xs">Consumibles</a>
		        </div>
			    <table class="table">
				    <thead>
				        <tr>				          
				          <th>Tipo</th>
				          <th>Nombre</th>
				          <th>Disponibilidad</th>				          
				          <th>Caracteristicas</th>				          
				          <th>Acciones</th>
				        </tr>
				    </thead>
				    <tbody>					    
				    	{% for replacement in object_list %}
				        <tr>					        
					        <td>{{ replacement.equipment.model.type }}</td>					       
					        <td>{{ replacement.equipment.model }}</td>					        
					        <td>{% if replacement.is_available %} SI {% else %} NO {% endif %}</td>
					        <td>
					        	<ul>
					        		{% for key, value in replacement.equipment.model.get_specifications %}
					        		<li>{{ key }}: {{ value }}</li>
					        		{% endfor %}					        		
					        	</ul>
					        </td>				        
					        <td class="col-xs-3">
					        	
					        </td>
				        </tr>
				        {% empty %}
				        <tr colspan="5"><td>"Sin registros."</td></tr>
				        {% endfor %}
				    </tbody>
			    </table>
			    {% include "partials/pagination.html" %}
        	</div>
        </div>
    </div>
</div>

{% include "partials/delete-modal.html" %}

<div class="btn-floating" id="help-actions">
	<div class="btn-bg"></div>
	<a href="/replacement/add/select-type/" class="btn btn-default btn-toggle">
		<i class="icon fa fa-plus"></i>
	</a>        
</div>
{% endblock %}

{% block customjs %}
{% load staticfiles %}
<script src="{% static 'stocktaking/custom.js' %}"></script>
{% endblock %}