{% extends 'base.html' %}
{% load static %}

{% block title %}Seleccionar{% endblock %}


{% block content %}
<div class="panel panel-headline">	
	<div class="panel-body">
		<h4>Equipos</h4>
		<hr>
		<div class="row">
	    	<div class="row">
		    	{% for type in object_list %}
		    	<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 text-center">
		    		<div class="type-item" data-type="{{ type.id }}">			    		
				    	{% if type.image %}			    	
			    		<img height="92" src="{{ type.image.url }}">
			    		{% else %}
			    		<img height="92" src="{% static 'images/gears.png' %}">
		    			{% endif %}
			    		<div>{{ type.name }}</div>			    			
		    		</div>
		    	</div>
		    	{% endfor %}
		    </div>
	    </div>
	</div>
	<div class="panel-footer">		
		<input id="model" type="hidden" value="{{ model }}">
		<a id="next" class="btn btn-primary">
			<span class="fa fa-check"></span> Siguiente
		</a>		
	</div>
</div>
{% endblock %}

{% block css %}
<style type="text/css">
	.type-item {
		border: 3px dashed transparent;	    
	    margin-bottom: 10px;
	    padding: 15px 0;
	    border-radius: 10px;
	    cursor: pointer;
	}

	.type-item.active {
		border-color: #29c75f;
	}

	.type-item img {
		margin-bottom: 10px;
	}
</style>
{% endblock %}

{% block js %}
<script type="text/javascript">	
document.addEventListener('DOMContentLoaded', function () {
	//Select type
	types = document.querySelectorAll('.type-item');
	types.forEach(function (type, index) {
		type.addEventListener('click', function () {			
			var id = this.dataset.type;
			var model = document.getElementById('model').value;
			url = '/stocktaking/'+ model +'/add/type/' + id + '/';
			document.getElementById('next').setAttribute('href', url)
			deactiveAllTypes();
			activeType(this)
		});
	});

	var deactiveAllTypes = function () {
		types.forEach(function (type, index) {
			type.classList.remove('active')
		});
	}

	var activeType = function (elem) {
		elem.classList.add('active')
	}
});
</script>
{% endblock %}