{% extends 'base2.html' %}
{% load static %}

{% block title %}Seleccionar{% endblock %}


{% block content %}
<div class="panel panel-headline">	
	<div class="panel-body">
		<h4>Equipos</h4>
		<hr>
		<div class="row">
	    	<div class="row">
		    	{% for type in object_list %}
		    	<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 text-center">
		    		<div class="type-item" data-type="{{ type.id }}">			    		
				    	{% if type.image %}			    	
			    		<img height="92" src="{{ type.image.url }}">
			    		{% else %}
			    		<img height="92" src="{% static 'images/gears.png' %}">
		    			{% endif %}
			    		<div>{{ type.name }}</div>			    			
		    		</div>
		    	</div>
		    	{% endfor %}
		    </div>
	    </div>
	</div>
	<div class="panel-footer">		
		<input id="model" type="hidden" value="{{ model }}">
		<a id="next" class="btn btn-primary">
			<span class="fa fa-check"></span> Siguiente
		</a>		
	</div>
</div>
{% endblock %}

{% block css %}
<style type="text/css">
	.type-item {
		border: 3px dashed transparent;	    
	    margin-bottom: 10px;
	    min-height: 150px;	    
	    cursor: pointer;
	}

	.type-item.active {
		border-color: #29c75f;
	}

	.type-item img {
		margin-bottom: 10px;
	}
</style>
{% endblock %}

{% block js %}
<script type="text/javascript">	
document.addEventListener('DOMContentLoaded', function () {
	//Select type
	types = document.querySelectorAll('.type-item');
	types.forEach(function (type, index) {
		type.addEventListener('click', function () {
			var id = this.dataset.type;
			var model = document.getElementById('model').value;
			url = '/'+ model +'/add/type/' + id + '/';
			document.getElementById('next').setAttribute('href', url)
			deactiveAllTypes();
			activeType(this)
		});
	});

	var deactiveAllTypes = function () {
		types.forEach(function (type, index) {
			type.classList.remove('active')
		});
	}

	var activeType = function (elem) {
		elem.classList.add('active')
	}
});

$(function () {
	var type;

	$('.delete').on('click', function () {
		var model = $(this).attr('data-model');
		var pk = $(this).attr('data-id');
		var url = '/' + model + '/' + pk + '/delete/' 
		$('#delete').attr('action', url);
		$('#delete-modal').modal('show');		
	});	

	//Code for assignments
	var splitArea = function () {
		var strcodes = $('#id_area').val();

		if (strcodes) {
			var codes = strcodes.split(':');
			$('input[name=department]').val(codes[0]);
			$('input[name=section]').val(codes[1]);	
		}		
	}

	$('#id_area').on('change', function () {
		splitArea();
	});

	splitArea();

	//Code for close sets
	$('.close-formset').on('click', function () {
		var $panel = $(this).parents('.panel');
		$panel.fadeOut(500, function() {
			$panel.remove();
		});

	});
});
</script>
{% endblock %}