{% extends 'base.html' %}

{% block page_title %}Tipos{% endblock %}

{% block content %}
<div class="row">
	<div class="col-xs-12">
      	<div class="card">
        	<div class="card-header">Añadir tipo</div>
        	<div class="card-body">
        		{% load widget_tweaks %}
        		<form id="form" class="form form-horizontal" action="" method="POST" enctype="multipart/form-data" novalidate>
        			{% csrf_token %}        			
				   	<div class="form-group {% if form.usage.errors %} has-error {% endif %}">
				        <label class="col-md-3 control-label" for="{{ form.usage.id_for_label }}">{{ form.usage.label }}</label>
				        <div class="col-md-9">
					        {% for radio in form.usage %}
					        <div class="radio radio-inline">
					            {{ radio.tag }}
					            <label for="{{ radio.id_for_label }}">
					            	{{ radio.choice_label }}
					            </label>
					        </div>
					        {% endfor %}
				        </div>
				    </div>

				    <div class="form-group {% if form.code.errors %} has-error {% endif %}">
				        <label class="col-md-3 control-label" for="{{ form.code.id_for_label }}">{{ form.code.label }}</label>
				        <div class="col-md-9">
					        {{ form.code|add_class:"form-control"|attr:"autofocus" }}
					        {% for error in form.code.errors %}
							<span class="help-block">{{ error }}</span>
							{% endfor %}					    
				        </div>
				    </div>

				    <div class="form-group {% if form.name.errors %} has-error {% endif %}">
				        <label class="col-md-3 control-label" for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
				        <div class="col-md-9">
					        {{ form.name|add_class:"form-control"|attr:"autofocus" }}
					        {% for error in form.name.errors %}
							<span class="help-block">{{ error }}</span>
							{% endfor %}					    
				        </div>
				    </div>

				    <div class="form-group {% if form.image.errors %} has-error {% endif %}">
				        <label class="col-md-3 control-label" for="{{ form.image.id_for_label }}">{{ form.image.label }}</label>
				        <div class="col-md-9">
					        {{ form.image|add_class:"form-control" }}
					        {% for error in form.image.errors %}
							<span class="help-block">{{ error }}</span>
							{% endfor %}					    
				        </div>
				    </div>				    

				    <div class="section">				
				    	<span class="section-title">Especificaciones de tipo</span>
				    	{{ specification_form.management_form }}
				    	{% for form in specification_form %}
				    	{{ form.id }}
				    	<div class="panel panel-default inline {{ specification_form.prefix }}">
							<div class="panel-heading">
							    <h3 class="panel-title">Especificacion {{ forloop.counter }}</h3>
							    
							    <div class="checkbox pull-right" style="margin-top: -19px!important;">
							        {{ form.DELETE }}
							        <label for="{{ form.DELETE.id_for_label }}">
							            Eliminar?
							        </label>
							    </div>
							    
							</div>
							<div class="panel-body">								
								<div class="form-group {% if form.when.errors %} has-error {% endif %}">
							        <label class="col-md-3 control-label" for="{{ form.when.id_for_label }}">{{ form.when.label }}</label>
							        <div class="col-md-9">
								        {% for radio in form.when %}
								        <div class="radio radio-inline">
								            {{ radio.tag }}
								            <label for="{{ radio.id_for_label }}">
								            	{{ radio.choice_label }}
								            </label>
								        </div>
								        {% endfor %}
							        </div>
							    </div>
							    <div class="form-group {% if form.order.errors %} has-error {% endif %}">
							        <label class="col-md-3 control-label" for="{{ form.order.id_for_label }}">{{ form.order.label }}</label>
							        <div class="col-md-9">
								        {{ form.order|add_class:"form-control"|attr:"autofocus" }}
								        {% for error in form.order.errors %}
										<span class="help-block">{{ error }}</span>
										{% endfor %}					    
							        </div>
							    </div>							    
							    <div class="form-group {% if form.label.errors %} has-error {% endif %}">
							        <label class="col-md-3 control-label" for="{{ form.label.id_for_label }}">{{ form.label.label }}</label>
							        <div class="col-md-9">
								        {{ form.label|add_class:"form-control" }}
								        {% for error in form.label.errors %}
										<span class="help-block">{{ error }}</span>
										{% endfor %}					    
							        </div>
							    </div>						    							    
							    <div class="form-group {% if form.choices.errors %} has-error {% endif %}">
							        <label class="col-md-3 control-label" for="{{ form.choices.id_for_label }}">{{ form.choices.label }}</label>
							        <div class="col-md-9">
								        {{ form.choices|add_class:"form-control" }}
								        {% for error in form.choices.errors %}
										<span class="help-block">{{ error }}</span>
										{% endfor %}					    
							        </div>
							    </div>							    

							    <div class="form-group {% if form.widget.errors %} has-error {% endif %}">
							        <label class="col-md-3 control-label" for="{{ form.widget.id_for_label }}">{{ form.widget.label }}</label>
							        <div class="col-md-9">
								        {% for radio in form.widget %}
								        <div class="radio radio-inline">
								            {{ radio.tag }}
								            <label for="{{ radio.id_for_label }}">
								            	{{ radio.choice_label }}
								            </label>
								        </div>
								        {% endfor %}
							        </div>
							    </div>

							    <div class="form-group">
							    	<label class="col-md-3 control-label" for="{{ form.is_required.id_for_label }}">{{ form.is_required.label }}</label>
								    <div class="col-md-9">
									    <div class="checkbox">
										    {{ form.is_required }}
										    <label for="{{ form.is_required.id_for_label }}"></label>
										</div>
								    </div>
								</div>
							</div>
						</div>
						{% endfor %}
				    </div>					
				</form>
				<form id="delete" action="/type/{{ type.id }}/delete/" method="POST">{% csrf_token %}</form>
				<div class="form form-horizontal">
					<div class="form-footer">
					    <div class="form-group">
					      <div class="col-md-9">
					        <button type="submit" form="form" class="btn btn-primary">
					        	<span class="fa fa-floppy-o"></span>
					        	Guardar
					        </button>		
					        {% if object %}
					        <button type="submit" form="delete" class="btn btn-danger">
					        	<span class="fa fa-trash"></span>
					        	Eliminar
					        </button>
					        {% endif %}			        
					        <a href="/type/" class="btn btn-default">
					        	<span class="fa fa-reply"></span>
					        	Regresar
					        </a>
					      </div>
					    </div>
					</div>
				</div>
        	</div>
        </div>
    </div>
</div>
{% endblock %}

{% block customjs %}
{% load staticfiles %}
<script src="{% static 'plugins/jquery.formset.js' %}"></script>    
<script type="text/javascript">
    $(function() {
        $(".inline.{{ specification_form.prefix }}").formset({
            prefix: "{{ specification_form.prefix }}",
            addText: '<span class="fa fa-plus"></span> Agregar caracteristica adicional',
            deleteCssClass: 'btn btn-danger btn-xs pull-right',
            deleteText: '<span class="fa fa-close"></span>', 
        });        
    })
</script>
{% endblock %}