{% extends "base.html" %}

{% block title %}Dispositivos | Coninf{% endblock %}

{% block content %}
	<section class="section">
		<button class="btn btn-success col-xs-12">
			<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
			Nuevo
		</button>

		<table class="table table-striped">
			<thead>
				<tr>
					<th>Equipo</th>
					<th>Código</th>
					<th>Estado</th>
					<th>Compra</th>
					<th>Garantía</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody id="objectList">
				{% for device in object_list %}
				<tr>
					<td name="model" class="col-xs-4">{{device.model.type}} {{ device.model }}</td>
					<td name="code" class="col-xs-1">{{ device.code }}</td>
					<td name="state" class="col-xs-1"><span class="glyphicon {{ device.get_state_icon }}" aria-hidden="true"></span></td>
					<td name="provider" class="col-xs-2">{{ device.provider.name }} {%if device.provider %} | {%endif%} {{ device.invoice }}</td>
					<td name="date_warranty" class="col-xs-2">{{ device.get_timeuntil }}</td>
					<td id="{{ device.id }}" name="actions" class="col-xs-2">
						<button class="btn btn-sm btn-default">
							<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
						</button>
						<button class="btn btn-sm btn-default">
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						</button>
					</td>
				</tr>
				{% empty %}
				<tr>
					<td colspan="7">'No existen registros'</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</section>
{% endblock %}

{% block modal_title %}Datos de dispositivo{% endblock %}
{% block modal_content %}
	<ul class="nav nav-tabs" role="tablist">
	    <li role="presentation" class="active">
	    	<a href="#general" aria-controls="general" role="tab" data-toggle="tab">Datos generales</a>
	    </li>
	    <li role="presentation">
	    	<a href="#purchase" aria-controls="purchase" role="tab" data-toggle="tab">Datos de compra</a>
	    </li>
	    <li role="presentation">
	    	<a href="#specifications" aria-controls="specifications" role="tab" data-toggle="tab">Especificaciones</a>
	    </li>
	</ul>

	<div class="tab-content">
	    <div role="tabpanel" class="tab-pane active" id="general">
	    	<div class="form-horizontal">
	    		<div class="form-group">
				    <label for="inputType" class="col-md-2 control-label">Tipo</label>
				    <div class="col-md-10">
				        <select id="inputType" type="select" name="type" class="form-control selectpicker" data-size="10" data-live-search="true" req="true">
				        	<option value="">--- Seleccionar ---</option>
				        	{% for type in types %}
				        	<option value="{{ type.id }}">{{ type.name }}</option>
				        	{% endfor %}
				        </select>
				    </div>
				</div>
	    		<div class="form-group">
				    <label for="inputModel" class="col-md-2 control-label">Modelo</label>
				    <div class="col-md-10">
				        <select id="inputModel" type="select" name="model" class="form-control selectpicker" data-size="10" data-live-search="true" req="true">
				        	<option value="">--- Seleccionar ---</option>
				        </select>
				    </div>
				</div>
				<div class="form-group">
				    <label for="inputCode" class="col-md-2 control-label">Código</label>
				    <div class="col-md-10">
				        <input id="inputCode" type="text" name="code" class="form-control" placeholder="Código del dispositivo" req="true">
				    </div>
				</div>
				<div class="form-group">
				    <label for="inputSerial" class="col-md-2 control-label">Serial</label>
				    <div class="col-md-10">
				        <input id="inputSerial" type="text" name="serial" class="form-control" placeholder="Serie del dispositivo">
				    </div>
				</div>
				<div class="form-group">
				    <label for="inputPart" class="col-md-2 control-label">Parte</label>
				    <div class="col-md-10">
				        <input id="inputPart" type="text" name="part" class="form-control" placeholder="N° de parte del dispositivo">
				    </div>
				</div>
				<div class="form-group">
				    <label for="inputModel" class="col-md-2 control-label">Estado</label>
				    <div class="col-md-10">
				        <select id="inputModel" type="select" name="state" class="form-control selectpicker" data-size="10" data-live-search="true" req="true">
				        	<option value="">--- Seleccionar ---</option>
				        	<option value="1">BUENO</option>
									<option value="2">DEFECTUOSO</option>
				        	<option value="2">EN REPARACIÓN</option>
				        	<option value="3">DAÑADO - BAJA</option>
				        </select>
				    </div>
				</div>
	    	</div>
	    </div>
	    <div role="tabpanel" class="tab-pane" id="purchase">
	    	<div class="form-horizontal">
	    		<div class="form-group">
				    <label for="inputProvider" class="col-md-2 control-label">Proveedor</label>
				    <div class="col-md-10">
				        <select id="inputProvider" type="select" name="provider" class="form-control selectpicker" data-size="10" data-live-search="true">
				        	<option value="">--- Seleccionar ---</option>
				        	{% for provider in providers %}
				        	<option value="{{ provider.id }}">{{ provider.name }}</option>
				        	{% endfor %}
				        </select>
				    </div>
				</div>
				<div class="form-group">
				    <label for="inputInvoice" class="col-md-2 control-label">Factura</label>
				    <div class="col-md-10">
				        <input id="inputInvoice" type="text" name="invoice" class="form-control" placeholder="Número de factura">
				    </div>
				</div>
				<div class="form-group">
				    <label for="inputDatePurchase" class="col-md-2 control-label">Fecha compra</label>
				    <div class="col-md-10">
				        <input id="inputDatePurchase" type="text" name="date_purchase" class="form-control datepicker" placeholder="Fecha de compra del dispositivo">
				    </div>
				</div>
				<div class="form-group">
				    <label for="inputDateWarranty" class="col-md-2 control-label">Fecha garantía</label>
				    <div class="col-md-10">
				        <input id="inputDateWarranty" type="text" name="date_warranty" class="form-control datepicker" placeholder="Fecha de garantía del dispositivo">
				    </div>
				</div>
	    	</div>
	    </div>
	    <div role="tabpanel" class="tab-pane" id="specifications">
	    	<div id="form-specifications" class="form-horizontal">

	    	</div>
	    	<div id="form-suboptions" class="form-horizontal">

	    	</div>
	    	<div id="empty-specifications" class="form-horizontal">
	    		<p><em>"No existen especificaciones para este dispositivo"</em></p>
	    	</div>
	    </div>
	</div>
{% endblock %}

{% block imports%}
	{% load staticfiles %}
	<script src="{% static 'libs/js/bootstrap-select.min.js' %}"></script>
	<script src="{% static 'libs/js/bootstrap-datepicker.min.js' %}"></script>
	<script src="{% static 'libs/js/capitalize.js' %}"></script>
	<script src="{% static 'equipment/js/devices.js' %}"></script>
{% endblock%}
