{% extends "base.html" %}

{% block title %}Reportes de equipos | Coninf{% endblock %}

{% block content %}
	<section class="section">
    <div id="check-list-box" class="report">
			<ul class="list-group checked-list-box">
				{% for type in object_list %}
				<li class="list-group-item" key="{{ type.id }}">{{type.name|upper}}</li>
				{% endfor %}
			</ul>
    </div>

    <a id="genpdf" style="margin-left: 30px" href="#" class="btn btn-success">Generar</a>
	</section>
{% endblock %}

{% block modal_title %}Datos de tipo{% endblock %}
{% block modal_content %}
{% endblock %}

{% block imports%}
	{% load staticfiles%}
  <script src="{% static 'libs/js/bootstrap-checkbox.js' %}"></script>
{% endblock%}
