{% load staticfiles %}
<!DOCTYPE html>
<html lang="es_EC">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>{% block title %}Coninf{% endblock %}</title>
	<link rel="stylesheet" href="{% static 'libs/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'libs/css/bootstrap-select.min.css' %}">
	<link rel="stylesheet" href="{% static 'libs/css/datepicker.css' %}">
	<link rel="stylesheet" href="{% static 'libs/css/styles.css' %}">
</head>
<body>
	<nav class="navbar navbar-default">
	  	<div class="container-fluid">
		    <div class="navbar-header">
			    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			    </button>
			    <a class="navbar-brand" href="#">CONINF</a>
		    </div>

		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
			    <ul class="nav navbar-nav">
			    	<li>
			        	<a href="/providers">
			        		<span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
			        		Proveedores
			        	</a>
			        </li>
			        <li class="dropdown">
				        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
				          	<span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span>
				          	Equipos
				          	<span class="caret"></span>
				        </a>
				        <ul class="dropdown-menu" role="menu">
				            <li><a href="/trademarks">Marcas</a></li>
				            <li><a href="/types">Tipos</a></li>
				            <li><a href="/models">Modelos</a></li>
				            <li><a href="/devices">Dispositivos</a></li>
				        </ul>
			        </li>
			        <li>
			        	<a href="/allocations">
			        		<span class="glyphicon glyphicon-check" aria-hidden="true"></span>
			        		Asignaciones
			        	</a>
			        </li>
			        <li>
			        	<a href="/maintenances">
			        		<span class="glyphicon glyphicon-hdd" aria-hidden="true"></span>
			        		Asistencia Técnica
			        	</a>
			        </li>
							<li>
			        	<a href="/reports">
			        		<span class="glyphicon glyphicon-print" aria-hidden="true"></span>
			        		Reportes
			        	</a>
			        </li>
			    </ul>
					<div class="navbar-form navbar-left" role="search">
		        <div class="form-group">
							<div class="inner-icon inner-icon-left">
								<span class="glyphicon glyphicon-search"></span>
								<input id="search" type="text" class="form-control" placeholder="Búsqueda">
							</div>
		        </div>
		      </div>
					<ul class="nav navbar-nav navbar-right">
			      <li>
							<a href="/login">
								<span class="glyphicon glyphicon-user" aria-hidden="true"></span> Iniciar sesión
							</a>
						</li>
			    </ul>
		    </div>
	  	</div>
	</nav>

    {% block content %}{% endblock %}

		{% if is_paginated %}
		<section class="section-pagination">
			<ul class="pagination pagination-sm">
				{% if page_obj.has_previous %}
				<li><a href=".?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
				{% else %}
				<li class="disabled"><a href="#">&laquo;</a></li>
				{% endif %}

				{% for page in paginator.page_range %}
				<li {% if page_obj.number == page %}class="active"{% endif %}><a href=".?page={{ page }}">{{ page }}</a></li>
				{% endfor %}

				{% if page_obj.has_next %}
				<li><a href=".?page={{ page_obj.next_page_number }}">&raquo;</a></li>
				{% else %}
				<li class="disabled"><a href="#">&raquo;</a></li>
				{% endif %}
			</ul>
		</section>
		{% endif %}

		<div class="load-searchs">
			<a id="loadSearchs" href="#">Mostrar mas resultados</a>
		</div>

    <section class="modals">
		<div id="objectModal" class="modal fade">
			<div class="modal-dialog">
			    <div class="modal-content">
				    <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title">{% block modal_title %}Modal{% endblock %}</h4>
				    </div>
				    <div class="modal-body">
				    	{% csrf_token %}
				        {% block modal_content %}{% endblock %}
				    </div>
				    <div class="modal-footer">
				        <button class="btn btn-default" data-dismiss="modal">Cerrar</button>
				        <button id="btnEdit" class="btn btn-primary">Guardar</button>
				        <button id="btnSave" class="btn btn-primary">Guardar</button>
				        {% block modal_buttons %}{% endblock %}
				    </div>
			    </div>
			</div>
		</div>

		<div id="objectDeleteModal" class="modal fade">
			<div class="modal-dialog">
			    <div class="modal-content">
				    <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title">Confirmación</h4>
				    </div>
				    <div class="modal-body">
				    	<strong><p>¿Está seguro que desea eliminar este registro?</p></strong>
				    	<p>* Recuerde que esta acción podría afectar otras funciones del sistema.</p>
				    </div>
				    <div class="modal-footer">
				        <button class="btn btn-default" data-dismiss="modal">Cerrar</button>
				        <button id="btnDelete" class="btn btn-primary">Aceptar</button>
				    </div>
			    </div>
			</div>
		</div>
	</section>

	<script src="{% static 'libs/js/jquery-2.1.4.min.js' %}"></script>
	<script src="{% static 'libs/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'libs/js/csfrtoken.js' %}"></script>
	<script src="{% static 'libs/js/utilities.js' %}"></script>
	{% block imports%}{% endblock%}
</body>
</html>
