<!doctype html>
<html lang="en">
{% load static %}
<head>
	<title>Invenco</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	{% include 'base/css.html' %}
	{% block css %}{% endblock %}	
</head>

<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		{% include 'base/sidebar.html' %}
		<!-- MAIN -->
		<div class="main">
			{% include 'base/navbar.html' %}
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<h3 class="page-title">{% block title %}{% endblock %}</h3>
					{% block content %}{% endblock %}
				</div>
			</div>
			<!-- END MAIN CONTENT -->
			<!-- <footer>
				<div class="container-fluid">
					<p class="copyright">&copy; 2019. Powered by <a href="http://dbsiavichay.com">Denis Siavichay</a></p>
				</div>
			</footer> -->
		</div>
		<!-- END MAIN -->
	</div>
	<!-- END WRAPPER -->
	{% include 'base/js.html' %}
	{% block js %}{% endblock %}
</body>

</html>