{% load staticfiles %}
<!DOCTYPE html>
<html lang="es_EC">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Coninf</title>
	<link rel="stylesheet" href="{% static 'libs/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'libs/css/styles.css' %}">
</head>
<body>
	<nav class="navbar navbar-default">
	  	<div class="container-fluid">
		    <div class="navbar-header">
			    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			    </button>
			    <a class="navbar-brand" href="#">CONINF</a>
		    </div>
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
			    <ul class="nav navbar-nav navbar-right">
			        <li>
						<a href="/devices/">
							<span class="glyphicon glyphicon-user" aria-hidden="true"></span> Iniciar sesión
						</a>
					</li>
			    </ul>
		    </div>
	  	</div>
	</nav>
	<section class="consulta-equipos">
		<h3>CONSULTA DE EQUIPOS ASIGNADOS</h3>
		<div class="form-inline">
		  <div class="form-group">
		    <label class="sr-only">Cedula</label>
		    <input id="txtCharter" type="text" class="form-control" placeholder="Digite su cédula">
		  </div>
		  <button id="btnConsulta" class="btn btn-default">Buscar</button>
		</div>

		<div style="padding: 0 200px;">
			<h4>{{ message }}</h4>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Equipo</th>
						<th>Código</th>
						<th>Serie</th>
						<th>Estado</th>
					</tr>
				</thead>
				<tbody id="objectList">
					{% for device in object_list %}
					<tr>
						<td name="model" class="col-xs-5">{{device.model.type}} {{ device.model }}</td>
						<td name="code" class="col-xs-2">{{ device.code }}</td>
						<td name="serial" class="col-xs-4">{{ device.serial }}</td>
						<td name="state" class="col-xs-1"><span class="glyphicon {{ device.get_state_icon }}" aria-hidden="true"></span></td>
					</tr>
					{% empty %}
					<tr>
						<td colspan="4">'No existen registros'</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</section>

	<script src="{% static 'libs/js/jquery-2.1.4.min.js' %}"></script>
	<script src="{% static 'libs/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'libs/js/csfrtoken.js' %}"></script>
	<script src="{% static 'libs/js/check-charter.js' %}"></script>
	<script type="text/javascript">
		$(function () {
			var consultar = function () {
				var charter = $('#txtCharter').val();
				if (charter) {
						$(location).attr('href', '.?charter='+charter);
				}
			}

			$('#btnConsulta').on('click', consultar);

			$('#txtCharter').on('keyup', function (event) {
				if (event.keyCode==13) consultar();
			});
		});
	</script>
</body>
</html>
