{% extends "base.html" %}

{% block title %}Asistencia tecnical | Coninf{% endblock %}

{% block content %}
	<section class="section">
		<button class="btn btn-success col-xs-12">
			<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
			Nuevo
		</button>

		<table class="table table-striped">
			<thead>
				<tr>
					<th>Equipo</th>
					<th>Responsable</th>
					<th>Fecha</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				{% for item in object_list %}
				<tr>
					<td class="col-xs-3">{{ item.device.model }}</td>
					<td class="col-xs-3">{{ item.responsible }}</td>
					<td class="col-xs-3">{{ item.date }}</td>
					<td id="{{ item.id }}" class="col-xs-3">
						<button class="btn btn-sm btn-default">
							<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
						</button>
						<button class="btn btn-sm btn-default">
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						</button>
					</td>
				</tr>
				{% empty %}
				<tr>
					<td colspan="10">'No existen registros'</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</section>
{% endblock %}

{% block modal_title %}Datos de asistencia{% endblock %}
{% block modal_content %}
	<ul class="nav nav-tabs" role="tablist">
	    <li role="presentation" class="active">
	    	<a href="#equipment" aria-controls="equipment" role="tab" data-toggle="tab">Equipo</a>
	    </li>
	    <li role="presentation">
	    	<a href="#assistance" aria-controls="assistance" role="tab" data-toggle="tab">Asistencia</a>
	    </li>
	    <li role="presentation">
	    	<a href="#parts" aria-controls="parts" role="tab" data-toggle="tab">Repuestos usados</a>
	    </li>
			<li role="presentation">
	    	<a href="#specifications" aria-controls="specifications" role="tab" data-toggle="tab">Nuevo estado del equipo</a>
	    </li>
	</ul>

	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="equipment">
			<div id="error-equipment" class="alert alert-danger" style="display: none;" role="alert">
			  	<strong>Error!</strong> Debe seleccionar un equipo
			</div>
			<div class="row">
				<div class="col-sm-12">
				    <div class="input-group">
			            <input id="search-allocations" type="text" class="form-control" placeholder="Búsqueda de equipos">
					    <span class="input-group-btn">
					        <button class="btn btn-primary" type="button">
					        	<span class="glyphicon glyphicon-search"></span>
					        </button>
					    </span>
				    </div>
				</div>
			</div>
			<hr>
			<div id="allocations-listbox" class="well well-sm well-listbox">
				<div class="list-group">
					{% for allo in allocations %}
					<a href="#" key="{{ allo.device.id }}" class="list-group-item">
					    <p class="list-group-item-heading">{{ allo.device }}</p>
					    <p class="list-group-item-text"><strong>{{ allo.short_responsible }}</strong> > {{ allo.short_location }}</p>
					</a>
					{% endfor %}
				</div>
			</div>
	    </div>
	    <div role="tabpanel" class="tab-pane" id="assistance">
	    	<div class="form-horizontal">
	    		<div class="form-group">
				    <label for="inputDate" class="col-md-2 control-label">Fecha de asistencia</label>
				    <div class="col-md-10">
				        <input id="inputDate" type="text" name="date" class="form-control datepicker" placeholder="Fecha de asistencia técnica" req="true">
				    </div>
				</div>
		    	<div class="form-group">
				    <label for="inputProblem" class="col-md-2 control-label">Problema</label>
				    <div class="col-md-10">
				    	<textarea id="inputProblem" class="form-control" name="problem" type="text" req="true" placeholder="Problemas que presentaba el equipo"></textarea>
				    </div>
				</div>
				<div class="form-group">
				    <label for="inputSolution" class="col-md-2 control-label">Solución</label>
				    <div class="col-md-10">
				    	<textarea id="inputSolution" class="form-control" name="solution" type="text" req="true" placeholder="Actividades realizadas para solucionar el problema"></textarea>
				    </div>
				</div>
	    	</div>
	    </div>
	    <div role="tabpanel" class="tab-pane" id="parts">
	    	<div class="form-horizontal">
				<div class="form-group">
				    <label for="inputType" class="sr-only">Tipo</label>
				    <div class="col-md-12">
				        <input id="search-parts" type="text" class="form-control" placeholder="Búsqueda de repuestos">
				    </div>
				</div>
			</div>
			<hr>
			<p><strong id="parts-count">0</strong><em> items seleccionados.</em></p>
			<div id="parts-listbox" class="well well-sm well-listbox">
				<div class="list-group">
					{% for device in devices %}
					<a href="#" key="{{ device.id }}" data="{{ device.model.get_specifications }}" class="list-group-item">
					    {{ device }}
					</a>
					{% endfor %}
				</div>
			</div>
			<p id="parts-detail"></p>
	    </div>
			<div role="tabpanel" class="tab-pane" id="specifications">
	    	<div id="form-specifications" class="form-horizontal">

	    	</div>
	    	<div id="form-suboptions" class="form-horizontal">

	    	</div>
	    	<div id="empty-specifications" class="form-horizontal">
	    		<p><em>"No existen especificaciones para este dispositivo"</em></p>
	    	</div>
	    </div>
	</div>
{% endblock %}

{% block imports%}
	{% load staticfiles %}
	<script src="{% static 'libs/js/bootstrap-select.min.js' %}"></script>
	<script src="{% static 'libs/js/bootstrap-datepicker.min.js' %}"></script>
	<script src="{% static 'libs/js/capitalize.js' %}"></script>
	<script src="{% static 'technical_assistance/js/maintenances.js' %}"></script>
{% endblock%}
